@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  padding: 20px 0px;
}

textarea, input {
  font-family: monospace;
  border: none;
  background: #e2e8f0;
  padding: 16px 16px;
  font-size: 16px;
  border-radius: 8px;
  outline: none;
  width: 300px;
}

textarea {
  resize: none;
  height: 200px;
}

h3 {
  font-size: 32px;
}

h6 {
  font-size: 20px;
  opacity: 0.4;
}

h6, h3, p {
  margin: 0px;
}

p {
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
}

button {
  border: none;
  outline: none;
  padding: 10px 16px;
  font-weight: bold;
  color: white;
  background: black;
  border-radius: 1000px;
  cursor: pointer;
}

*:not(body) {
  margin-bottom: 10px;
}
